/node_modules
/public/hot
/public/data_ktp_tendik
/public/data_ijazah_tendik
/public/data_sertifikat_tendik
/public/data_ktp_dosen
/public/data_ijazah_dosen
/public/data_sertifikat_dosen
/public/data_jabfung_dosen
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
